body {
    background-color: var(--cinza);
}
section {
    min-height: 100vh;
    animation: linear aparece both;
            animation-timeline: view();
            animation-range: cover 20% cover 70%;
}

@keyframes aparece {
            0% { opacity:0.2}
            100% { opacity:1 }
        }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

:root {
    --cinza: #2f2f2f;
    --cinzaclaro: #999999;
    --preto: #141414;
    --vermelho: #FF0000;
    --space: 4%;
}

a {
    text-decoration: none;
    color: var(--cinzaclaro) !important;
}

a:hover {
    color: white !important;
}

h2 {
    scroll-margin-top: 100px;
    padding-top: 8px;
    font-weight: 400;
    color: white;
}
input {
    background-color: var(--cinza) !important;
    border-style:groove !important;
    border-radius: 4px !important;
    border-color: var(--cinzaclaro) !important;
    outline-color: white !important;
    color: var(--cinzaclaro) !important;
}
input::placeholder {
  color: var(--cinzaclaro) !important;
}
#cadastro input{
    min-height: 40px;
}
header {
    position: fixed;
    width: 100vw;
    z-index: 1000;
}
.navbar {
    background-color: var(--preto) !important;
}

header img {
    height: 50px;
}
.container-fluid container{
    top: 0px;
}
.borda_pai {
    display: flex;
    justify-content: center;
}

.borda {
    background-color: var(--cinzaclaro);
    height: 2px;
    border-radius: 30px;
    z-index: 5;
}

#borda1 {
    left: var(--space);
    right: var(--space);
    position: fixed;
    top: 70px;
    z-index: 1001;
}

#borda2 {
    margin: 0 var(--space);
    width: 100%;
}

#em_alta {
    scroll-margin-top: 100px;
    margin-top: 70px;
    width: 100%;
    background-color: var(--cinza);
}

#em_alta h2 {
    padding-left: var(--space);
}

#filme_popular img {
    width: 100%;
}

#scarface {
    min-height: 0px;
    width: 30%;
    margin-top: -50%;
    margin-left: var(--space);

}

#popular {
    z-index: 100;
}

#em_alta button {
    border: none;
    margin-left: var(--space);
    border-radius: 10px;
    padding: 5px 7px;
    font-weight: bold;
    margin-top: -10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    outline: none;
}

#em_alta button img {
    height: 15px;
}

#em_alta button:hover {
    background-color: var(--vermelho);
}
#em_alta button span {
    color: black !important;
    margin-left: var(--space);
    border-radius: 10px;

}
#cadastro button {
    border: none;
    border-radius: 10px;
    padding: 5px 7px;
    font-weight: bold;
    min-width: 40%;
    text-decoration: none;
    outline: none;
    min-height: 40px;
}
#cadastro button:hover {
    background-color: var(--vermelho);
}
#butao {
    display: flex;
    justify-content: center;
}
.info p {
    color: white;
    margin-right: var(--space);
}

.info strong {
    color: var(--cinzaclaro);
    font-weight: 400;
}

.info {
    padding-left: var(--space);
}

#filmes {
    padding-left: 4%;
    background-color: var(--cinza);
    color: var(--cinzaclaro);
}

.fileira {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}
.filme img {
    border-radius: 7px;
    height: 150px;
}
#Sign-up {
    background-color: #2f2f2f;
    padding-left: var(--space);
    padding-right: var(--space);
}
#Sign-up h2{
    display: flex;
    justify-content: center;
    font-size: 55px;
}
#formulario {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: var(--space);
}
@media (width < 780px) {
    #formulario {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
#imagem_cadastro {
    display: flex;
    justify-content: center;
    align-self: center;
}
#imagem_cadastro img {
    max-width: 100%;
    border-radius: 10px;
}
#cadastro fieldset{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#cadastro label{
    color: white;
}
#mosaico_pai {
    background-color: var(--cinza);
    padding-left: var(--space);
    padding-right: var(--space);
}
#mosaico_pai h2{
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
#mosaico_filho {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "foto1 foto2 foto2 foto3"
    "foto4 foto4 foto5 foto5"
    "foto6 foto7 foto7 foto8"
    "foto9 foto9 foto10 foto10"
    ;
    min-height: 95vh;
    gap: 20px;
    padding-bottom: 40px;
}
@media (width < 480px) {
    #mosaico_filho {
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "foto1 foto2 foto2"
    "foto3 foto4 foto4"
    "foto5 foto5 foto6"
    "foto7 foto7 foto8"
    "foto9 foto9 foto10"
    ;
}
}
.foto {
    border-radius: 10px;
}
#foto1 {
    background-image: url("../img/mosaico1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: foto1;
}
#foto2 {
    background-image: url("../img/mosaico2-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: foto2;
}
#foto3 {
    background-image: url("../img/mosaico3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: foto3;
}
#foto4 {
    background-image: url("../img/mosaico4.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: foto4;
}
#foto5 {
    background-image: url("../img/mosaico5.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: foto5;
}
#foto6 {
    background-image: url("../img/mosaico6.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: foto6;
}
#foto7 {
    background-image: url("../img/mosaico7-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: foto7;
}
#foto8 {
    background-image: url("../img/mosaico8.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: foto8;
}
#foto9 {
    background-image: url("../img/mosaico9.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: foto9;
}
#foto10 {
    background-image: url("../img/mosiaco10.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: foto10;
}
footer {
    font-weight: 300;
    background-color: #141414;
    color: #999999;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#servicos {
    background-color: var(--cinza);
}
#servicos h2 {
    font-size: 35px;
}
#animation_section {
    background-color: var(--cinza);
    padding-left: var(--space);
    padding-right: var(--space);
    z-index: 0;
}
#bola {
    width: 20vw;
    height: 20vw;
    background-color: var(--vermelho);
    position: relative;
    border-radius: 50vw;

    animation-name: movimento;  
    animation-duration: 6s;       
    animation-iteration-count: infinite; 
    animation-timing-function:linear;  
    z-index: 0;

    transition-property: border-radius;
    transition-duration: 1s; 
}
#bola:hover {
    border-radius: 0px;
}
@keyframes movimento {
  0%   {background-color: var(--vermelho); left: 0px; top:0px;}   
  25%  {background-color: var(--cinza); left:80%; top:30%;}
  50%  {background-color: var(--vermelho); left:80%; top:60%;}
  75%  {background-color: var(--cinza); left:0px; top:30%;}
  100% {background-color: var(--vermelho); left:0px; top:0px;}
}